#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_installman:
	dh_installman debian/brickrun/usr/share/doc/brickrun/man/*
	rm -rf debian/brickrun/usr/share/doc/brickrun/man
